# Port d'écoute du serveur (par défaut: 3000)
PORT=3000

# Identifiants EVE Online SSO (Application enregistrée sur https://developers.eveonline.com)
EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_CALLBACK_URL=
